[flake8]
max-line-length = 88
exclude =
    venv/,
    .git,
    static,
    */migrations/*
statistics = True
per-file-ignores =
    ppw/settings/local.py:F403,F405
    ppw/settings/production.py:F403,F405
